@media(max-width:576px){
    /* start header */
    .top .top-left{
        width: 100%;
    }
    .top-left img{
        width:60%;
        float:none;   
        opacity: .9;
        padding-top:60px ;
        padding-left: 80px;
    }
    .top-right{
        overflow: hidden;
        float: none;
    width: 100%;
}

        .header .top-right .list .item{
            float: left;
           
            width: 100%;
            text-align: left;
           
        }
        .top-right .list .item a{
            text-decoration: none;
            font-size:10pxx;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
         
        
          
        }
            .header .center p{
                font-size: 50px;
                padding-top: 30px;
                font-family: 'Montserrat', sans-serif;
                font-weight:600;
                padding-bottom: 80px;
            }
            .header .center{
                text-align: center;
                padding-top:240px;
                color:#fff;
            }
            .header .top-right .list{
                margin-left :100px;
                margin-top:40px;
            }
        
            /* end header */
            /* start services */
            .services .first-content{
                width: 100%;
                float:none;
            margin: auto;
            padding-right: 100px;
        }
        .services .first-content i,.services .first-content h3 {
           margin: auto;
           margin-left: 80px;

        }
        .services .second-content{
            width: 100%;
            float:none;
        margin: auto;
        padding-right: 100px;
        margin-top: 20px;
    }
    .services .second-content i {
       margin: auto;
       margin-left: 80px;
    }
    .services .second-content h3{
        margin: auto;
        margin-left: 40px;
    }
    .services .third-content{
        width: 100%;
        float:none;
    margin: auto;
    padding-right: 100px;
    margin-top: 20px;;
}
.services .third-content i,.services .third-content h3 {
   margin: auto;
   margin-left: 80px;

}
               
            /* end services */
/*  start profolio*/
.portfolio .items .item{
    float: none;
    width:100%;
    margin-right: 15px;
    }
/* end profolio */
/* start about */
.about h2{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    opacity: .9;
    text-align: center;
    margin-top: 50px;
    padding-bottom:15px ;  
}
.about .about-item .item1 img,.about .about-item .item3 img{
    border-radius: 50%; 
    float: none;
    width: 140px;  
    border: 5px solid #e9ecef;  
   background-color: #ffc800;
   height: 140px;
   text-align: center;}
   .about .about-item .item1 h3,.about .about-item .item3 h3{
    width:40%;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    opacity: .9;
    line-height: 35px;
    padding-bottom: 8px;
    text-align: left;
   }
   .about .about-item .item1 p,.about .about-item .item3 p{
    font-size: 18px;
    color: #6c757d !important;
    width: 85%;
    line-height: 30px;
    margin:auto;
    margin-right: 80px;
    text-align: left;
  
   }
   .about .about-item .item2 img,.about .about-item .item4 img{
    border-radius: 50%;
   
    float: none;
    width: 140px;  
    border: 5px solid #e9ecef;  
   background-color: #ffc800;
   height: 140px;
 text-align: left;
 margin: auto;
}
.about .about-item{
    width: 100%;
}
   .about .about-item .item2 h3,.about .about-item .item4 h3{
    width:95%;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    opacity: .9;
    line-height: 35px;
    padding-bottom: 8px;
    text-align: left;
    margin: auto;
   
   }
   .about .about-item .item2 p,.about .about-item .item4 p{
    font-size: 18px;
    color: #6c757d !important;
    width: 85%;
    line-height: 30px;
    margin:auto;
    margin-right: 80px;
    text-align: left;
  
   }
   .about .about-item .item5 {
    background-color: #ffc800;
    width:5%;
    height: 150px;
    width:150px;
    border-radius: 50%;
    border: 8px solid #e9ecef;  
    border-width: 7px; 
    border-style:solid; 
    z-index: 100; 
    margin: auto;
    text-align: left;
    margin-bottom: 50px;
   }
/*end about  */
/* start team */
.team .container .team-content .fcontent,.team .container .team-content .scontent,.team .container .team-content .thcontent{
    floate:none;
    width:100%;
    margin-bottom: 50px;
}
.team .container .team-content .fcontent img,.team .container .team-content .scontent img,.team .container .team-content .thcontent img{
    width: 70%;
    margin-left: 40px;
}
.team .container .team-content .fcontent h3,.team .container .team-content .scontent h3,.team .container .team-content .thcontent h3{
    padding-left: 80px;
}
.team .container .team-content .fcontent p,.team .container .team-content .scontent p{
    margin-left: 120px;
}
.team .container .team-content .thcontent p{
    margin-left: 100px;
}
.team .list{
    margin-left: 80px;
    padding-top: 30px;
}
.team .thcontent .list{
margin-left: 60px;}

/* end teaam */
/* start contact */
.contact .contact-us{
    background-image:url(../img/map-image.png);
    height: 1050px;
    background-size: cover;
   background-color: #212529;
}
/* end contact */
/* start base */
.base .par p{
    float: none;
    width: 80%;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    color: #343a40;
    text-align: center;
    margin-left: 40px;
}

.base .link a{
    padding-left: 30px;
    margin-right: 25px;
}
/* end base  */
}
@media(min-width:577px) and (max-width:992px){
    /* start header */
  
    .top .top-left{
        width: 100%;
    }
    .top-left img{
        width:60%;
        float:none;   
        opacity: .9;
        padding-top:60px ;
        padding-left: 80px;
    }
    .top-right{
        overflow: hidden;
        float: left;
    width: 100%;
}

        .header .top-right .list .item{
            float: left;
           
            width: 100%;
            text-align: left;
           
        }
        .top-right .list .item a{
        
            text-decoration: none;
            font-size:10pxx;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
         
        
          
        }
            .header .center p{
                font-size: 50px;
                padding-top: 30px;
                font-family: 'Montserrat', sans-serif;
                font-weight:600;
                padding-bottom: 80px;
            }
            .header .center{
                text-align: center;
                padding-top:240px;
                color:#fff;
            }
            .header .top-right .list{
                margin-left :100px;
                margin-top:40px;
            }
        
            /* end header */
            /* start services */
            
            .services .first-content{
                width: 100%;
                float:none;
            margin: auto;
            padding-right: 100px;
        }
        .services .first-content i,.services .first-content h3 {
           margin: auto;
           margin-left: 80px;

        }
        .services .second-content{
            width: 100%;
            float:none;
        margin: auto;
        padding-right: 100px;
        margin-top: 20px;
    }
    .services .second-content i {
       margin: auto;
       margin-left: 80px;
    }
    .services .second-content h3{
        margin: auto;
        margin-left: 40px;
    }
    .services .third-content{
        width: 100%;
        float:none;
    margin: auto;
    padding-right: 100px;
    margin-top: 20px;;
}
.services .third-content i,.services .third-content h3 {
   margin: auto;
   margin-left: 80px;

}
               
            /* end services */
/*  start profolio*/
.portfolio .items .item{
    float: none;
    width:100%;
    margin-right: 15px;
    }
/* end profolio */
/* start about */
.about h2{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    opacity: .9;
    text-align: center;
    margin-top: 50px;
    padding-bottom:15px ;  
}
.about .about-item .item1 img,.about .about-item .item3 img{
    border-radius: 50%; 
    float: none;
    width: 140px;  
    border: 5px solid #e9ecef;  
   background-color: #ffc800;
   height: 140px;
   text-align: center;}
   .about .about-item .item1 h3,.about .about-item .item3 h3{
    width:40%;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    opacity: .9;
    line-height: 35px;
    padding-bottom: 8px;
    text-align: left;
   }
   .about .about-item .item1 p,.about .about-item .item3 p{
    font-size: 18px;
    color: #6c757d !important;
    width: 85%;
    line-height: 30px;
    margin:auto;
    margin-right: 80px;
    text-align: left;
  
   }
   .about .about-item .item2 img,.about .about-item .item4 img{
    border-radius: 50%;
   
    float: none;
    width: 140px;  
    border: 5px solid #e9ecef;  
   background-color: #ffc800;
   height: 140px;
 text-align: left;
 margin: auto;
}
.about .about-item{
    width: 100%;
}
   .about .about-item .item2 h3,.about .about-item .item4 h3{
    width:95%;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    opacity: .9;
    line-height: 35px;
    padding-bottom: 8px;
    text-align: left;
    margin: auto;
   
   }
   .about .about-item .item2 p,.about .about-item .item4 p{
    font-size: 18px;
    color: #6c757d !important;
    width: 85%;
    line-height: 30px;
    margin:auto;
    margin-right: 80px;
    text-align: left;
  
   }
   .about .about-item .item5 {
    background-color: #ffc800;
    width:5%;
    height: 150px;
    width:150px;
    border-radius: 50%;
    border: 8px solid #e9ecef;  
    border-width: 7px; 
    border-style:solid; 
    z-index: 100; 
    margin: auto;
    text-align: left;
    margin-bottom: 50px;
   }
/*end about  */
/* start team */
.team .container .team-content .fcontent,.team .container .team-content .scontent,.team .container .team-content .thcontent{
    floate:none;
    width:100%;
    margin-bottom: 50px;
}
.team .container .team-content .fcontent img,.team .container .team-content .scontent img,.team .container .team-content .thcontent img{
    width: 70%;
    margin-left: 40px;
}
.team .container .team-content .fcontent h3,.team .container .team-content .scontent h3,.team .container .team-content .thcontent h3{
    padding-left: 80px;
}
.team .container .team-content .fcontent p,.team .container .team-content .scontent p{
    margin-left: 120px;
}
.team .container .team-content .thcontent p{
    margin-left: 100px;
}
.team .list{
    margin-left: 80px;
    padding-top: 30px;
}
.team .thcontent .list{
margin-left: 60px;}

/* end teaam */
/* start contact */
.contact .contact-us{
    background-image:url(../img/map-image.png);
    height: 1050px;
    background-size: cover;
   background-color: #212529;
}
/* end contact */
/* start base */
.base .par p{
    float: none;
    width: 80%;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    color: #343a40;
    text-align: center;
    margin-left: 40px;
}
.base .link a{
    padding-left: 30px;
    margin-right: 25px;
}}
